:root {
  --main-text-color: #212121; 
  --secondary-text-color: #757575; 
  --main-background-color: #e5e5e5;
  --secondary-background-color: #2f303a; 

  --button-hover-color: #188ce8; 
  --active-link-color: #2196f3;
  --passive-link-color: #757575; 
  --passive-link-color-footer: rgba(255, 255, 255, 0.6);
  --logo-main-color: #2196f3; 
  --black-color: #000000; 
  --white-color: #ffffff;
  --light-grey-color: #f5f4fa; 
  --border-color: #ececec; 
  --banner-color: #2f303a; 
  --border-color-outline: #eee; 
  --grey-color: #afb1b8; 
  --black-15color: rgba(0, 0, 0, 0.15); 
  --passive-background-color: #afb1b8; 
  --social-passive-footer-color: #fff; 
  --social-active-color: #fff;
  --social-bg-active-color: #2196f3; 
  --social-background-main-color: #fff; 
  --social-background-footer-color: rgba(255, 255, 255, 0.1);
  --focus-outline: 0.1px solid#afb1b870;
  --standart-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-gradient: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ); /*главный градиент фона*/
  --standart-timer: 250ms;
  --standart-10px: 10px;
  --standart-15px: 15px;
  --standart-20px: 20px;
  --standart-30px: 30px;
  --standart-50px: 50px;
  --standart-60px: 60px;
  --standart-94px: 94px;
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif; 
}

$miniphone-width-divider: 480px;
$phone-width-divider: 767px;
$tablet-width-divider: 1200px;
$desktop-width-divider: 1600px;
